<!DOCTYPE html>
<html lang="en">
<he<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="../../../static/css/style.css">
    <link rel="stylesheet" href="../../../static/css/fontface.css">
    <!--/css-->
    <title>INQUOX | Register</title>
</head>
<body>
     <!--Register-->
     <div class="registerblock">
        <div class="loginmarkup">
            <!--lb id loginblock-->
            <div class="lb_logo">INQUOX</div>
            <!--SIGNIN or SIGNUP-->
            <div class="lb_state">Register</div>
            <!--getting information from the user-->
            <div class="lb_receivinginfo">
                <!--ri is receivinginfo-->
                <!--receiving email-->
                <div class="lb_ri_textEmail">E-Mail</div>
                <div class="lb_ri_inputEmail">
                    <input type="email" name="" id="" class="lb_ri_inputEmail-i">
                </div>
                <!--receiving username-->
                <div class="lb_ri_textEmail">Username</div>
                <div class="lb_ri_inputEmail">
                    <input type="text" name="" id="" class="lb_ri_inputEmail-i">
                </div>
                <!--receiving password-->
                <div class="lb_ri_textPassw">Password</div>
                <div class="lb_ri_inputPassw">
                    <input type="password" name="" id="" class="lb_ri_inputPassw-i">
                </div>
                <!--SignIN or UP botton-->
                <button class="lb_ri_sign register" type="submit">
                    <div class="lb_ri_sign_t">Sign Up</div>
                </button>
            </div>
            <!--have or not have account-->
            <div class="lb_else register">
                <a class="lb_else_t" href="">Alredy have an account? Login Now</a>
            </div>
        </div>
    </div>
    <!--./Register-->
    
    <!--Scripts-->
    <!---->
</body>
</html>